%a{ href: "/home" } Home Page
&#x20;|
%a{ href: "/submission" } Submit a New Review
&#x20;|
%a{ href: "/page/#{usrname}" } My Page (#{usrname}) 

%h1 Is my project worth it?

%p Enter the director for your movie, an actor you have for your movie (only one per query please), the country producing your movie, or the country that is your intended audience.

%form{ action: "/query", method: "POST" }
   %legend TELL US ABOUT YOUR MOVIE:
   Director:
   %input{ name: "director" }
   %br
   Actors:
   %input{ name: "actor" }
   %br
   Producing Country
   %input{ name: "country" }
   %br
   Audience Country
   %input{ name: "audience" }
   %br
   %button{ type: "submit" } SUBMIT
