%a{ href: "/home" } Home Page
&#x20;|
%a{ href: "/submission" } Submit a New Review
&#x20;|
%a{ href: "/page/#{usrname}" } My Page (#{usrname}) 

%h1 REVIEW SUBMISSION

%p{ name: "result", id: "#{status}" } #{msg}

%form{ action: "/review", method: "POST" }
   %legend Submit a new review:
   Movie Title:
   %input{ name: "movie_title", required: true }
   %br
   Rating:
   %input{ name: "rating", type: "number", min: "1", max: "5", required: true }
   %br
   %button{ type: "submit" } SUBMIT
